/* NAVBAR STYLING */
.homeLink{
  font-weight: bold;
  font-size: 1.4rem;
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

.homeLink:hover{
  text-decoration: none;

}

/* HOMEPAGE STYLING */
.outerContainer{
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
}

.profileCarouselWrap{
  width: 100%;
  display: flex;
  background-color:	#F5F5F5;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left:15px;
  padding-right:15px;
  padding-top:20px;
}

.profile img{
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: white 5px solid;
}

.profile p{
  color:#0275d8;
  font-weight: bold;
}

.carousel{
  display:flex;
  flex-wrap: wrap;
  padding:5px;
  flex-grow: 1;
}

.userImg{  
  margin: 5px;
  width: 300px;
  height: 300px;
}

.loadingWrap{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PROFILE PAGE STYLING */
.profileInfo{
  display: flex;
  padding-left:20px;
  padding-right:20px;
  background-color:	#F5F5F5;
}
.profileInfoImg{
  height: 300px;
  width: 300px;
  padding: 5px;
}

.profileInfoDes{
  padding: 10px;
  padding-top: 20px;
}

.profileCarousel{
  display:flex;
  flex-wrap: wrap;
  padding-left:10px;
  padding-right:10px;
  margin-top: 10px;

}

.profileUserImg{
  margin: 15px;
  width: 30vw;
  height: 400px;
}

/* Upload page */
